.companyLogo {
  float: none !important;
  height: 40px !important;
}
.h1, .h2 {
  font-weight: 400 !important;
}

.heading h1 {
  margin-bottom: 10px;
  font-size: 22px;
}
.col-lg-6 {
  max-width: 380px;
}

.intro {
  display: inline-block !important;
}

#api .intro p {
  text-align: left;
  font-size: 1.0em;
  margin: auto;
  margin-bottom: 25px;
}
.unified_container .row .panel-default #api .localAccount .create p {
  margin-top: 5rem;
}
.unified_container .row .panel-default #api .localAccount .intro h2 {
  font-size: 14px;
  margin-top: auto;
}

.unified_container .row .panel-default #api .intro h2{
  font-size: 14px;
  margin-top: 0px;
}
.unified_container .row .panel-default #api .accountButton {
  font-size: 14px;
  text-align: left;
}
button#next{
  width: 100% !important;
  margin-bottom: 10px !important;
}
.unified_container .row .panel-default #api .localAccount .entry .entry-item {
  text-align: left;
}
.unified_container .row .panel-default #api .divider {
  display: inline-block;
}

.self_asserted_container .row .panel-default .panel-body .intro p {
  padding-top: 1rem;
}


.divider h2 {
color: #ccc;
line-height: 20px;
margin: 20px 0;
text-align: center;
text-transform: lowercase;
}

.divider h2:after,
.divider h2:before {
content: "";
height: 1px;
position: absolute;
margin-top: 15px;
width: 45%;
}

.divider h2:after {
background: rgb(126,126,126);
background: linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -moz-linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -ms-linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -o-linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -webkit-linear-gradient(left, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
right: 0;
}

.divider h2:before {
background: rgb(126,126,126);
background: linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -moz-linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -ms-linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -o-linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
background: -webkit-linear-gradient(right, rgba(126,126,126,1) 0%, rgba(255,255,255,1) 80%);
left: 0;
}

#passwordToggler {
top: -40px;
float: right;
}
.newPasswordToggler {
  top: -20px;
  float: right;
}

.glyphicon-eye-open {
color: #022255;
cursor: pointer;
}

.glyphicon-stop{
font-size: 10px;
color: #b00;;
}

.glyphicon-ok {
font-size: 10px;
color: #02b502;
}
.buttons #cancel {
position: relative;
right: 70%;
left: auto;
background-color: transparent !important;
color: #505050 !important;
}

.popover-password {
  display: None;
  border:1px solid #F0F1F3;
  border-radius: 3px;
  width: 100%;
}
.list-pwd-strength {
    padding-left: 10px !important;
    list-style: none;
    align-items: start;
    line-height: 0;
    font-size: 12px;
}
.strengthMsg {
  color: #b00;
}